@import "variables";
.archipelago-dcmny-theme {
  &.path-frontpage {
    #DcmnyLeftNav {
      background-image: url("../images/header-green-scaled-3-left.png");
      background-repeat: no-repeat;
      background-position-x: -9.25rem;
      background-position-y: 0;
    }
  }
  &:not(.path-frontpage) {
    #DcmnyLeftNav {
      background-image: url("../images/header-green-scaled-3-pink-left.png");
      background-repeat: no-repeat;
      background-position-x: -9.25rem;
      background-position-y: 0;
    }
  }
}

#DcmnyLeftNav {
  /* avoid links spanning over the sidebard width */
  .navbar-nav {
    flex-flow: column !important;
    .dropdown-menu {
      --bs-dropdown-link-hover-bg: transparent;
      position: static;
      background-color: transparent;
      .dropdown-item {
        white-space: normal;
        word-break: break-word;
        hyphens: auto;
      }
    }
    .nav-item {
      .nav-link {
        color: black;
        width: 100%;
        display: inline-block;
      }
    }
  }

  &:after {
    position: absolute;
    width: 1px;
    left: var(--nav-bar-left-width);
    height: calc((var(--vh,1vh)*100));
    content: "";
    top: 30.5rem;
    border-right: 1px $body-color solid;
    transition: top 0.2s ease-out;
  }

  .navbar-brand {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 0 !important;
    // This hides the rendering offset (1 pixel)
    width: calc(var(--nav-bar-left-width) - 1.5rem);
    overflow: hidden;
    pointer-events: all;
    background-color: white;
    object {
      pointer-events: none;
      width: 45rem;
      margin-left: 2.95rem;
      transition: width 0.2s ease-out;
      margin-top: 2rem;
      &.navbar-brand-logo-small {
        background-color: white;
        padding-top: 0;
        margin-left: 0;
        width: calc((var(--nav-bar-left-width) - ($grid-gutter-width)));
        margin-top: 0;
      }
    }
  }

  z-index: 500;
  width: var(--nav-bar-left-width);
  height: calc((var(--vh,1vh)*100));
  align-items: flex-start;
  /* same as #navbar-top */

  transition: padding-left 0.2s ease-out;
  &.collapse:not(.show) {
    + #page {
      padding-left: 0;
    }
  }
}

#page {
  padding-left: var(--nav-bar-left-width);
}

.navbar_left_internal {
  padding-left: calc($grid-gutter-width/2);
  padding-right: calc($grid-gutter-width/2);
  padding-top: calc(var(--nav-bar-top-height) + 2rem);
  display: flex;
  flex-direction: column;
}

@include media-breakpoint-up(lg){
  #DcmnyLeftNav.navbar-expand-lg {
    .navbar_left_internal.navbar-collapse {
      display: flex;
      flex-direction: column !important;
    }
    &.collapse:not(.show) {
      --vh: 0.1vh !important;
        .navbar_left_internal {
          display: none;
          height: 99px;
          overflow:hidden;
        }
      &:after {
        display: none;
        position: absolute;
        width: 0;
        left: 0;
        height: 0;
        content: "";
        top:0;
        border-right: none;
        transition: none;
      }
    }
    &:after {
      position: absolute;
      width: 1px;
      left: var(--nav-bar-left-width);
      height: calc((var(--vh,1vh)*100));
      content: "";
      top: 30.5rem;
      border-right: 1px $body-color solid;
      transition: top 0.2s ease-out;
    }
    &.navbar-full-border {
      &:after {
        top: 0;
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  #page {
    padding-left: 0;
  }
  // WE don't want this to be a thing when in smaller displays
  #DcmnyLeftNav {
    &.collapse:not(.show) {
      display:unset;
    }
    width: auto;
    height: auto !important;
    min-height: 4.25rem;
    .navbar_left_internal.navbar-collapse {
      align-items: flex-start;
      width: 100%;
      padding-left: 0rem;
      padding-right: 0rem;
      flex-direction: row !important;
      //background-color: $fifth-shade;
      background-color: #f8f0ec;
      /* super important for in-between lg and md sizes */
      background-clip: content-box;
      .navbar__nav {
        margin-top: 2.5rem;
        .nav-link {
          --bs-nav-link-font-size: 1.5rem;
        }
        .dropdown-menu {
          --bs-dropdown-font-size: 1.5rem;
        }
      }
    }
    &:after {
      display: none;
      position: absolute;
      width: 0;
      left: 0;
      height: 0;
      content: "";
      top:0;
      border-right: none;
      transition: none;
    }
    .navbar-brand {
      background-color: transparent;
      margin-top: 0;
      object {
        margin-left: 1rem;
        transition: width 0.2s linear;
        margin-top: 1rem;
        //max-width: fit-content;
        &.navbar-brand-logo-small {
          background-color: transparent;
          padding-top: unset;
          margin-top: 1rem;
          margin-left: 1rem;
          //max-width: fit-content;
          width: 45rem;
        }
      }
    }
  }
}




#navbar-top.affix {
  margin-left: var(--nav-bar-left-width);
  width: calc(100% - var(--nav-bar-left-width));
}
/* Not sidenav but triggers things */
#DcmnyWelcome {
  position: relative;
  .logo-container {
    overflow:hidden;
    margin-left: calc(($grid-gutter-width / 2) * -1 - 0.125rem);
  }
  object {
    margin-left: -10rem;
    width: 45rem;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }
}

@include media-breakpoint-down(lg) {
  #DcmnyWelcome {
    object {
      margin-left: 0;
      width: 100%;
      margin-top: 3.5rem;
      margin-bottom: 1.5rem;
    }
  }
}
